<div id="topNav">
    <div id="logo">
        <img src="../../../assets/svg/Logo.svg" alt="">
        <h1> Noticias Mundiales </h1>
    </div>
    

    <ul>
        <li>
            <img src="../../../assets/svg/home.svg" alt=""> 
            <a href=""> Inicio</a>
        </li>
        <li>
            <img src="../../../assets/svg/category.svg" alt=""> 
            <a href="">Categoria</a>
        </li>
        <li>
            <img src="../../../assets/svg/contact.svg" alt=""> 
            <a href="">Contacto</a>
        </li>
        <li>
            <img src="../../../assets/svg/aboutMe.svg" alt=""> 
            <a href="">Acerca de</a>
        </li>
    </ul>
</div>